html,
body {
	background: rgb(245,245,245);
	color: rgb(70,70,70);
	margin: 0;
	padding: 0 16px 0 16px;
}

h1, h2, h3, h4, p {
	-webkit-margin: 0;
	margin-bottom: 0;
	padding: 0;
}

h1 > span {
	font-family: "Cantarell", "Roboto", "GenWeb", sans-serif;
	font-weight: lighter;
	letter-spacing: -.23em;
}

h1 {
	border-bottom: rgb(70,70,70) solid 2px;
}

.w1 {
	vertical-align: top;
}

h2 {
	margin-top: 8px;
	font-size: 24px;
}

p, a {
	margin: 0 0 8px 0;
	font-size: 16px;
}

article {
	margin-top: 8px;
}

footer {
	margin-top: 8px;
}
